*/node_modules*
*/.git*
app-module
clue-its
datasets-controller-module/
logger/
modelling-service/
query-tests/
authentication-module/
connection-test-module/
docs/
mail-module/
object-schema/
scheduler-module/
authenticator/
connection-tester/
globalization-module/
mailer/
orchestrator/
scheduler/
catalog-module/
connection-tracking-module/
globalizer/
metadata-coordination-module/
query-executor-module/
clue-catalog/
database-module/
graph-data-structure/
metadata-coordinator/
query-executor/
clue-dfs-module/
dataset-controller/
ha-module/
metadata-importer/
query-generator-module/
clue-dfs/
dataset-store/
log-module/
metadata-importing-module/
query-generator/